# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Database
*.db

# Embeddings / Vector DB
embeddings/
database/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db