When recruiting abroad, there are some obligations on both sides. Find out here what you need to consider as an employer.
Legal and administrative regulations apply to the recruitment of international qualified professionals.
An important point which you need to take into account as an employer is the visa requirement. Whether your future foreign employee needs a visa to enter and work in Germany depends on their country of origin.
People from so-called third countries (countries outside the EU/EEA and Switzerland) generally need a visa or residence permit to enter and take up employment in Germany.
Citizens of Australia, Israel, Japan, Canada, the Republic of Korea, New Zealand, the United Kingdom of Great Britain and Northern Ireland or the United States of America are an exception to that rule. They may enter Germany without a visa and apply for a residence permit once in the country.
As an employer in Germany, you are subject to legal regulations which must be followed when hiring an international qualified professional. According to Section 4a (5) of the German Residence Act (AufenthG) (External link) , your general obligations include the following aspects:
- Checking whether the international professional currently possesses a valid residence title which allows them to be employed in Germany.
In the case of a temporary residence title, inform your employee that it must be extended in time for further employment in your company.
- Keeping a copy of the employee's currently valid residence title in electronic or paper form.
- Obligation to Provide Information on Advisory Services: You must inform your new skilled worker from a third country in writing, according to § 45c of the German Residence Act (AufenthG), that they can obtain free advice or information from “Fair Integration” (Federal Ministry of Labour and Social Affairs) on matters related to employment and social law. This notification must be given no later than the first day of work, and it must include the contact details of the advisory center nearest to the workplace.
- Here’s how to proceed: Download the informational leaflet for employees in the appropriate language from the “Fair Integration” website. Tick the advisory location that is closest to the company on the list, and give the leaflet to your new employee, who can confirm notice with their signature. You’ll also find a fact sheet for employers on the same website.
- If the foreign skilled worker was recruited through a placement agency, the requirement does not apply to you as the employer. In this case, the agency is responsible for informing the skilled worker about the advisory services.
- Notifying the competent foreigners authorities in the event of early termination of employment. The foreigners authority must be informed within four weeks from the time of knowledge of the termination to assess whether the residence title's validation period needs to be shortened.
Receive advice on recruiting skilled workers from abroad. Our experts will gladly help you. Get more information on the different ways of contacting us by clicking on one of the symbols.