Would you like to study in Germany? In this category, you will learn more about the requirements to be able to study in Germany.
If you would like to study in Germany, you need a university entrance qualification. To find out whether the qualification of your country of origin is sufficient or whether you need to take additional examinations for admission, please refer to the DAAD database on admission requirements (External link) . With My GUIDE (External link) , you can verify if your qualification is sufficient for your desired study programme, and you can create your own list of study programmes.
No recognised school-leaving certificate? A preparatory course can help
Even if your qualification from your country of origin is not equivalent to the German university entrance qualification, you still have the opportunity to study in Germany by completing a preparatory course before your academic studies, if need be. In the preparatory course, you will receive language lessons and subject-specific lessons tailored to your desired study programme. The course usually takes one year to complete. If you pass the assessment test, you will receive a subject-specific university entrance qualification. You can find more information on the website of the preparatory courses (External link) in Germany.
German “Abitur”/DIAP
With the German general qualification for university entrance ("Abitur") or the German International Abitur (DIAP), you have direct access to German higher education institutions. Your school-leaving certificate is recognised as equivalent in Germany.
The International Baccalaureate Diploma (IB) and the Gemischtsprachiges International Baccalaureate Diploma (GIB) can qualify you for admission to a German university.
The IB is recognised as a university entrance qualification in Germany if the requirements of the Standing Conference of the Ministers of Education and Cultural Affairs (External link) of the Länder in the Federal Republic of Germany (KMK) are met.
The GIB, due to its high proportion of German-language instruction, grants unrestricted access to higher education in Germany.
If you apply for a course of study taught in German, you must provide proof of being proficient in German. Common certificates are the German language exam for university entrance (DSH) and the TestDaF (examination for German as a foreign language). Since 12 February 2016, German universities also admit students to a course of study taught in German if they passed the “telc Deutsch C1 Hochschule” exam (test on the German knowledge needed for success at an advanced academic level), “Deutsches Sprachdiplom II” (German Language Certificate II), or the Goethe C2 certificate. Nevertheless, you should find out what language certificate meets the requirements of your desired course of study at your university.
Generally, there is no need to provide proof of German language skills for English-language study courses.
Regardless of what you are studying, it is recommended to be proficient in the German language (External link) , at least at level B2. This will help you in communicating effectively and independently, for example, when you are grocery shopping, at the foreigners authority or when visiting the doctor. It will also facilitate your social life and improve your career prospects if you would like to stay in Germany for the completion of your studies.
If you would like to take a German language proficiency test while still in your home country, you can do so at one of the 154 Goethe-Institut sites worldwide. You will find the address of your local Institut in our overview of advisory and contact points.
You can use the Study in Germany database (External link) to find a suitable course of study or the right university.
There are two ways to apply for a place at university: At many universities, you can apply via uni-assist e.V. The uni-assist website (External link) will tell you which universities are included. If your preferred university is not covered by uni-assist, you can submit your application directly to the respective university.
It is also possible to complete a dual study programme (duales Studium). This is a way for you to gain work experience in Germany and combine it with theoretical education at the same time. You will find more information on this subject at Study in Germany (External link) . If you come from a country outside the EU/EEA, you will also need to apply for a visa for studying.
The question of financing your studies in Germany is vital. If you come from a country outside the EU/EEA and need a temporary residence title for the purpose of studying, you have to prove that you have the financial means to study and live in Germany.
To this end, you can set up a blocked account in Germany with a minimum amount of €11,904 (as of 2026). Alternatively, you can ask friends or relatives in Germany to hand in a Declaration of Commitment for you at the foreigners authority. Therefore, you might not have to submit proof of your own savings when applying for a visa. You can find more information on proof of financial means on the Study in Germany (External link) website.
Exploring opportunities for scholarships
Would you like to fund your studies by means of a scholarship? Numerous institutions in Germany provide financial support on a monthly basis to students who meet certain requirements (e.g. extraordinary grades or commitment to social responsibility). However, you need to be aware that scholarships in Germany are rarely awarded from the first semester onwards. Students in higher semesters and doctoral candidates from abroad can apply for the DAAD scholarship. Some private institutions also provide support for students from abroad. You can find out more about funding options from DAAD and other selected funding organisations for international students on the DAAD (External link) website.
Cost of living
How much money do you need on average in order to cover your everyday expenses while studying in Germany? You will find detailed information on the cost of living during your studies in Germany on the Study in Germany (External link) website.
Depending on your country of origin, you may need a visa to study in Germany.
You do not need an entry visa in order to study in Germany if you are a citizen of an EU country, Iceland, Liechtenstein, Norway, or Switzerland. You may not need an entry visa either if you are from Australia, Andorra, Brazil, El Salvador, Honduras, Israel, Japan, Canada, Monaco, the Republic of Korea, New Zealand, San Marino, the United Kingdom of Great Britain and Northern Ireland or the United States of America.
All other international students require a visa in order to enter Germany for the purpose of studying.
You can find out what criteria you must meet in order to be issued a visa by visiting the “Visa for studying” section.
Receive advice on your opportunities to work and live in Germany. Expert support is offered for questions regarding job search, visas, recognition of qualifications and learning German.
Click the icons in the bar below to discover all contact options.